body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  line-height: 1.5;
  color: #24292e;
  background-color: #fff;
  line-height: 1.5;
  font-size: 18px;
}

.logo {
  display: inline-block;
  color: #fff;
  text-transform: none;
  text-decoration: none;
  font-size: 18px;
  padding: 0;
  font-family: sans-serif;
  position: relative;
  margin: 14px 0;
}

.logo > a {
  color: #fff;
  text-decoration: none!important;
}

.header {
  background: #e3780c;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.menu {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  flex-direction: row;
  display: inline-flex;
  list-style: none;
  padding: 0;
}

.menu li {
  display: inline-block;
}

.menu li a {
  color: rgba(255,255,255,.9);
  font-size: 16px;
  text-decoration: none;
  padding: 16px 24px;
  display: block;
}

.menu li a:hover {
  color: #fff;
}

.menu .active a {
  color: #fff;
  font-weight: 600;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
}

.lead {
  background: #b469eb;
  padding: .6em 1em .2em;
  border-radius: 6px;
  margin-bottom: 48px;
  font-size: 20px;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
  background: #fff;
  color: #000;
  margin: 0 0 1em;
}

.btn:hover {
  text-decoration: none;
  background: rgba(255,255,255,.9);
}

.btn-secondary {
  display: block;
  padding: 10px 14px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  background: #efefef;
  color: #000;
  margin: 0 0 1em;
}

.btn-secondary:hover {
  background: #e2e2e2;
  text-decoration: none;
}

.preview a {
  color: #000;
}

.preview {
  margin-bottom: 48px;
}

.page img {
  border-radius: 6px;
}

.lead p {
  color: rgba(255, 255, 255, 0.8);
}

.lead h1 {
  font-weight: 600;
  color: #fff;
  padding: 0;
  margin: 0!important;
}

nav a {
  color: #000;
}

h1 {
  text-transform: uppercase;
  color: #000;
}

pre code,
code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27,31,35,0.05);
  border-radius: 3px;
}

pre code {
  display: block;
}

.comments {
  margin-top: 48px;
  margin-bottom: 24px;
  background: #f6f8f9;
  padding: 2px 24px 6px;
  border-radius: 6px;
}

tt, code {
  font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
  font-size: 16px;
}

.page h1 {
  text-transform: none;
}

.page .date {
  color: #666;
  margin: 0 0 1em;
}

h1 > a {
  color: #000;
}

h2,
h3,
h4,
h5,
h6 {
  color: #000;
}

ul, ol {
  margin-top: 0;
  padding-left: 1.6em;
  margin-bottom: 1em;
}

ol li {
  padding-left: .2em;
}

h1, h2, h3, h4, h5, h6 {
  padding-bottom: .4em;
  margin-bottom: 0;
  margin-top: 1.2em;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

a {
  color: #0366d6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.wrapper h1:first-child {
  margin: 20px 0 0 0;
}

.wrapper {
  padding: 0 30px;
}

header {
  padding: 0 0 0;
}

header h1 {
  padding: 0;
}

footer {
  display: block;
  max-width: 700px;
  margin: 0 auto;
}

.page {
  display: block;
  max-width: 700px;
  padding-bottom: 2em;
  min-height: 400px;
  margin: 1.2em auto 0;
}

nav ul,
.feed {
  list-style-type: none;
  padding: 0;
}

.feed a {
  font-weight: 600;
}

nav li {
  margin-bottom: 1em;
}

nav .active {
  font-weight: bold;
}
